<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
            
            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="formPersonal"
                [formGroup]="formPersonal">

                <div class="h2 mb-24">Información Personal</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nombres" formControlName="user_pri_nom" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Apellido Paterno" formControlName="user_ape_pat" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Apellido Materno" formControlName="user_ape_mat" readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Correo electrónico" formControlName="user_mail" readonly>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input type="number" matInput placeholder="DNI" formControlName="user_dni" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Fecha de nacimiento" formControlName="user_fec_nac" readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input type="text" matInput placeholder="Departamento" formControlName="user_dpt" readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input type="text" matInput placeholder="Provincia" formControlName="user_prv" readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input type="text" matInput placeholder="Distrito" formControlName="user_dst" readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input type="number" matInput placeholder="N° Celular" formControlName="user_num_cell" readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="Dirección Actual" formControlName="user_dir" readonly>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <button (click)="onNoClick()" fxFlex="25" style="margin-top: 2%;"
                        type="button" mat-raised-button color="accent" class="submit-button">
                        <mat-icon>close</mat-icon> Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>