<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="formPersonal" [formGroup]="formPersonal">

                <div class="h2 mb-24">Información de la pregunta</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nombre del archivo de carga" formControlName="data_file_name" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nombre de la pregunta" formControlName="ques_name" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Categoría" type="Categoría" formControlName="cat_cor_name" readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Pregunta" formControlName="ques_question" readonly></textarea>
                    </mat-form-field>
                </div>

                <div class="h2 mb-24">Posibles respuestas: </div>
                
                <div style="margin-top: -4%;" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                
                    <mat-list>
                        <mat-list-item>
                            <mat-icon *ngIf="ques_res1_ok">check_circle</mat-icon>
                            <mat-icon *ngIf="!ques_res1_ok">check_box_outline_blank</mat-icon>
                            &nbsp; {{ques_res1}}</mat-list-item>
                        <mat-list-item>
                            <mat-icon *ngIf="ques_res2_ok">check_circle</mat-icon>
                            <mat-icon *ngIf="!ques_res2_ok">check_box_outline_blank</mat-icon>
                            &nbsp; {{ques_res2}}</mat-list-item>
                        <mat-list-item>
                            <mat-icon *ngIf="ques_res3_ok">check_circle</mat-icon>
                            <mat-icon *ngIf="!ques_res3_ok">check_box_outline_blank</mat-icon>
                            &nbsp; {{ques_res3}}</mat-list-item>
                        <mat-list-item>
                            <mat-icon *ngIf="ques_res4_ok">check_circle</mat-icon>
                            <mat-icon *ngIf="!ques_res4_ok">check_box_outline_blank</mat-icon>
                            &nbsp; {{ques_res4}}</mat-list-item>
                        <mat-list-item>
                            <mat-icon *ngIf="ques_res5_ok">check_circle</mat-icon>
                            <mat-icon *ngIf="!ques_res5_ok">check_box_outline_blank</mat-icon>
                            &nbsp; {{ques_res5}}</mat-list-item>
                    </mat-list>
                
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Estado de la pregunta" [value]="cab_est_registro" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Fecha de registro" value="{{fec_registro | amLocale:'es' | amDateFormat:'dddd, DD MMMM YYYY'}}"
                            readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <button (click)="onNoClick()" fxFlex="25" style="margin-top: 2%;" type="button" mat-raised-button color="accent" class="submit-button">
                        <mat-icon>close</mat-icon> Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>