<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">
    <mat-sidenav-container>
        <div class="center" fusePerfectScrollbar>
            <div class="content">
                <mat-tab-group dynamicHeight>
                    <mat-tab label="Cursos">                        
                            <div id="typography-headings" class="p-12">
                                <div class="mat-white-bg mat-elevation-z4 p-12" fxLayout="column">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">                                
                                        <mat-form-field fxFlex="50" class="course-search">
                                            <input matInput placeholder="Buscar un curso" [(ngModel)]="searchTerm" (input)="filterCoursesByTerm()">
                                        </mat-form-field>

                                        <mat-form-field fxFlex="50" class="category-selector">
                                            <mat-select placeholder="Buscar por catergorías" [(ngModel)]="currentCategory" (change)="filterCoursesByCategory()">
                                                <mat-option [value]="'all'">
                                                    Todas
                                                </mat-option>
                                                <mat-option *ngFor="let category of categories" [value]="category.cat_cor_id">
                                                    {{ category.cat_cor_name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>                               
                                    </div>
                                </div>
                            </div>
                            <div class="widget-group grey-100-bg p-12" fxLayout="row wrap" *fuseIfOnDom [@animateStagger]="{value:'50'}">                            
                                    <fuse-widget *ngFor="let course of filteredCourses" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" 
                                    fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                
                                            <img [src]="course.cor_photo">
                                
                                            <div class="p-16">
                                                <div class="h1">{{course.cor_name}}</div>
                                                <div class="h4 secondary-text"><mat-icon role="img">account_circle</mat-icon> {{course.user_full_name}}</div>
                                            </div>
                                            <div class="p-16 pt-0 line-height-1.75">
                                                 {{course.cor_intro}}
                                            </div>
                                
                                            <div class="p-16 pt-0 line-height-1.75">
                                                <mat-chip-list>
                                                    <mat-chip [ngStyle]="{'background' : course.cat_color}" selected="true">
                                                        <mat-icon>assignment</mat-icon>&nbsp;{{course.cat_cor_name}}</mat-chip>
                                                    <mat-chip style="background: #2ABA87" selected="true">
                                                        <mat-icon>access_time</mat-icon>&nbsp; {{formatNumber(course.cor_time)}} min</mat-chip>
                                                    <mat-chip color="accent" selected="true">
                                                        <mat-icon>attach_money</mat-icon>S/.{{course.cor_price}}</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                 
                                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                                <button mat-button (click)="navigateToCourseDetails(course.cor_id, course.cor_slug)" color="accent">Detalles</button>
                                                <button mat-button (click)="openDialogPaymentCourse(course.cor_id)" color="accent">Comprar</button>                                
                                            </div>
                                        </div>
                                    </fuse-widget>
                            </div>
                    </mat-tab>

                    <mat-tab label="Cursos Gratuitos">
                            <div id="typography-headings" class="p-12">
                                <div class="mat-white-bg mat-elevation-z4 p-12" fxLayout="column">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="50" class="course-search">
                                            <input matInput placeholder="Buscar un curso" [(ngModel)]="searchTerm" (input)="filterCoursesByTerm()">
                                        </mat-form-field>
                            
                                        <mat-form-field fxFlex="50" class="category-selector">
                                            <mat-select placeholder="Buscar por catergorías" [(ngModel)]="currentCategory" (change)="filterCoursesByCategory()">
                                                <mat-option [value]="'all'">
                                                    Todas
                                                </mat-option>
                                                <mat-option *ngFor="let category of categories" [value]="category.cat_cor_id">
                                                    {{ category.cat_cor_name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-group grey-100-bg p-12" fxLayout="row wrap" *fuseIfOnDom [@animateStagger]="{value:'50'}">
                                <fuse-widget *ngFor="let course of filteredCoursesFree" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                    fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                                    <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                            
                                        <img [src]="serverUrl + course.cor_photo">
                            
                                        <div class="p-16">
                                            <div class="h1">{{course.cor_name}}</div>
                                            <div class="h4 secondary-text">
                                                <mat-icon role="img">account_circle</mat-icon> {{course.user_full_name}}</div>
                                        </div>
                                        <div class="p-16 pt-0 line-height-1.75">
                                            {{course.cor_intro}}
                                        </div>
                            
                                        <div class="p-16 pt-0 line-height-1.75">
                                            <mat-chip-list>
                                                <mat-chip [ngStyle]="{'background' : course.cat_color}" selected="true">
                                                    <mat-icon>assignment</mat-icon>&nbsp;{{course.cat_cor_name}}</mat-chip>
                                                <mat-chip style="background: #2ABA87" selected="true">
                                                    <mat-icon>access_time</mat-icon>&nbsp; {{formatNumber(course.cor_time)}} min</mat-chip>
                                                <mat-chip color="accent" selected="true">
                                                    <mat-icon>attach_money</mat-icon>S/.{{course.cor_price}}</mat-chip>
                                            </mat-chip-list>
                                        </div>
                            
                                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                            <button mat-button color="accent">Detalles</button>
                                            <button mat-button color="accent">Comprar</button>
                                        </div>
                                    </div>
                                </fuse-widget>
                            </div>
                    </mat-tab>

                </mat-tab-group>

            </div>

        </div>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="end" mode="side" opened="true"
                     fuseMatSidenavHelper="dashboards-right-sidenav" mat-is-locked-open="gt-md">

            <div class="sidenav-content" fusePerfectScrollbar>

                <!-- WIDGET GROUP -->
                <div class="widget-group" fxLayout="column" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}">

                    <!-- NOW WIDGET -->
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="sidenav-widget p-0">

                        <!-- Front -->
                        <div class="fuse-widget-front">

                            <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                                <div style="text-transform: capitalize;" class="h3">{{dateNow | amLocale:'es' | amDateFormat:'dddd, hh:mm:ss A'}}</div>
                                 
                                <div>
                                    <!-- <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>

                                    <mat-menu #moreMenu="matMenu">
                                        <button mat-menu-item aria-label="Flip widget">
                                            Details
                                        </button>
                                    </mat-menu> -->
                                </div>
                            </div>

                            <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text">
                                    <span style="text-transform: capitalize;">{{dateNow | amLocale:'es' | amDateFormat:'MMMM'}}</span>
                                </div>

                                <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                    {{dateNow | date: 'd'}}
                                </div>

                                <div class="h1 secondary-text">
                                    <span>{{dateNow | date: 'y'}}</span>
                                </div>
                            </div>

                            <mat-divider></mat-divider>
                        </div>
                        <!-- / Front -->

                    </fuse-widget>
                    <!-- / NOW WIDGET -->

                    <!-- WEATHER WIDGET -->
                    <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="sidenav-widget p-0">
                        <div class="fuse-widget-front">

                            <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">
                                 <weather-widget style="margin-top: -25% !important; margin-left: 10% !important;" [settings]="settings">
                                     
                                 </weather-widget>
                            </div>
                        </div>
                    </fuse-widget> -->
                    <!-- / WEATHER WIDGET -->

                </div>
                <!-- / WIDGET GROUP -->
            </div>

        </mat-sidenav>
        <!-- / SIDENAV -->

    </mat-sidenav-container>

</div>
