<mat-list class="date" cdkFocusRegionStart>

    <h3 matSubheader cdkFocusInit>
        <span>Información del sistema</span>
    </h3>

    <div class="secondary-text mat-display-1 mb-0 p-16">
        <div class="mb-12">
            Aula Virtual
        </div>
        <div class="mb-10">
            Student Clinical Medic
        </div>
    </div>
</mat-list>

<mat-divider cdkFocusRegionEnd></mat-divider>

<mat-list>
    <h3 matSubheader>
        <mat-icon>timeline</mat-icon>&nbsp;
            <span>Versión: 1.0.0</span>
    </h3>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <mat-icon>mail</mat-icon>&nbsp;
        <span>Contácto: <a href="mailto:vasquez8d@gmail.com?Subject=Contacto-Student-Clinical-Medic">vasquez8d@gmail.com</a></span>
    </h3>
</mat-list>

<!-- <mat-list>
    <h3 matSubheader>
        <span>Prácticas</span>
    </h3>

    <mat-list-item *ngFor="let note of notes">
        <h3 matLine>{{note.title}}</h3>
        <p matLine class="secondary-text">{{note.detail}}</p>
    </mat-list-item>
</mat-list> -->

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <mat-icon>person_pin</mat-icon>&nbsp;
        <span>Desarrollado por: <a href="https://vasquez8d.github.io/4lxDev/" target="_blank">4lexDev</a></span>
    </h3>
</mat-list> 

<mat-divider></mat-divider>

<!-- <mat-list>
    <h3 matSubheader>
        <span>Quick Settings</span>
    </h3>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-primary" [(ngModel)]="settings.notify" aria-label="Notifications"
                          labelPosition="before">
            <h3>Notifications</h3>
        </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-accent" [(ngModel)]="settings.cloud" aria-label="Cloud"
                          labelPosition="before">
            <h3>Cloud Sync</h3>
        </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-warn" [(ngModel)]="settings.retro" aria-label="Retro Thrusters"
                          labelPosition="before">
            <h3>Retro Thrusters</h3>
        </mat-slide-toggle>
    </mat-list-item>
</mat-list> -->
