<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
            <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-16">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Usuario</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Actualizar Información</span>
                </div>
                <div class="h2 mt-16">Actualizar Información</div>
            </div>
        </div>
        <!-- / HEADER -->
    
        <!-- CONTENT -->
        <div class="content p-24">
    
            <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                <form class="mat-white-bg mat-elevation-z4 p-20 mr-20 mb-20" fxLayout="column" fxLayoutAlign="start"
                      fxFlex="1 0 auto" name="formPersonal" [formGroup]="formPersonal">
    
                    <div class="h2 mb-24">Información Personal</div>
    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Nombres" formControlName="user_pri_nom" required>
                        </mat-form-field>
    
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Apellido Paterno" formControlName="user_ape_pat" required>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Apellido Materno" formControlName="user_ape_mat" required>
                        </mat-form-field>
    
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="Correo electrónico" formControlName="user_mail" readonly>
                            </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                        <mat-form-field fxFlex="50">
                            <input type="number" matInput placeholder="DNI" formControlName="user_dni" required>
                            <mat-error *ngIf="formErrors.user_dni.required">
                                El DNI es requerido.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mr-sm-24">
                                <input matInput [matDatepicker]="startDatePicker" placeholder="Fecha de nacimiento" formControlName="user_fec_nac" required>
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                                <mat-error *ngIf="formErrors.user_fec_nac.required">
                                        La fecha de nacimiento no es valida.
                                </mat-error>
                        </mat-form-field>

                    </div>
                    
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50">
                            <input type="text" matInput placeholder="Departamento" formControlName="user_dpt" required>
                            <mat-error *ngIf="formErrors.user_dpt.required">
                                El departamento es requerido.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input type="text" matInput placeholder="Provincia" formControlName="user_prv" required>
                            <mat-error *ngIf="formErrors.user_prv.required">
                                La provincia es requerida.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input type="text" matInput placeholder="Distrito" formControlName="user_dst" required>
                            <mat-error *ngIf="formErrors.user_dst.required">
                                El distrito es requerido.
                            </mat-error>
                        </mat-form-field>   
                        <mat-form-field fxFlex="50">
                            <input type="number" matInput placeholder="N° Celular" formControlName="user_num_cell" required>
                            <mat-error *ngIf="formErrors.user_num_cell.required">
                                El número de celular es requerido.
                            </mat-error>
                        </mat-form-field>                       
                        <mat-form-field fxFlex="100">
                            <input matInput placeholder="Dirección Actual" formControlName="user_dir" required>
                            <mat-error *ngIf="formErrors.user_dir.required">
                                La dirección actual es requerida.
                            </mat-error>
                        </mat-form-field>    
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="Tiempo promedio en llegar a la académia"
                                            formControlName="user_tim_aca" required>
                                    <mat-option value="1">
                                        Menor a 1 hora
                                    </mat-option>
                                    <mat-option value="2">
                                        1 hora
                                    </mat-option>
                                    <mat-option value="3">
                                        Mayor a 1 hora
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formErrors.user_tim_aca.required">
                                    Country is required!
                                </mat-error>
                            </mat-form-field>
            
                            <mat-form-field fxFlex="50">
                                    <mat-select placeholder="Estado Civil"
                                                formControlName="user_est_civil" required>
                                        <mat-option value="1">
                                            Soltero
                                        </mat-option>
                                        <mat-option value="2">
                                            Casado
                                        </mat-option>
                                        <mat-option value="3">
                                            Viudo
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formErrors.user_est_civil.required">
                                        Country is required!
                                    </mat-error>
                            </mat-form-field>
                    </div>
                    <div style="margin-top:2%; margin-bottom: 2%;" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                            <mat-radio-group fxFlex="33">
                                <label class="example-margin">¿Tiene Hijos?   </label>
                                <mat-radio-group matInput formControlName="user_flg_hijos">
                                        <mat-radio-button class="example-margin" value="1">SI</mat-radio-button>
                                        <mat-radio-button class="example-margin" value="0">NO</mat-radio-button>
                                </mat-radio-group>
                            </mat-radio-group>
        
                            <mat-radio-group fxFlex="33">
                                <label class="example-margin">¿Vive Solo?   </label>
                                <mat-radio-group matInput formControlName="user_flg_vsolo">
                                        <mat-radio-button class="example-margin" value="1">SI</mat-radio-button>
                                        <mat-radio-button class="example-margin" value="0">NO</mat-radio-button>
                                </mat-radio-group>
                            </mat-radio-group>
    
                            <mat-radio-group fxFlex="33">
                                    <label class="example-margin">¿Tiene Internet?   </label>
                                    <mat-radio-group matInput formControlName="user_flg_inter">
                                            <mat-radio-button class="example-margin" value="1">SI</mat-radio-button>
                                            <mat-radio-button class="example-margin" value="0">NO</mat-radio-button>
                                    </mat-radio-group>
                            </mat-radio-group>
                    </div>

                </form>
                
                <form class="mat-white-bg mat-elevation-z4 p-20 mr-20 mb-20" fxLayout="column" fxLayoutAlign="start"
                      fxFlex="1 0 auto" name="formAcademy" [formGroup]="formAcademy">
    
                    <div class="h2 mb-24">Información Académica</div>
    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="Universidad de procedencia" formControlName="user_uni_procede" >
                        </mat-form-field>
    
                        <!-- <mat-form-field fxFlex="50">
                            <input matInput placeholder="Facultad" formControlName="user_seg_esp" >
                        </mat-form-field> -->

                        <mat-form-field fxFlex="50">
                                    <mat-select placeholder="Facultad"
                                                formControlName="user_uni_facu">
                                        <mat-option value="Medicina Humana">
                                            Medicina Humana
                                        </mat-option>
                                        <mat-option value="Enfermería">
                                            Enfermería
                                        </mat-option>
                                        <mat-option value="Farmacia y Bioquímica">
                                            Farmacia y Bioquímica
                                        </mat-option>
                                        <mat-option value="Odontología">
                                            Odontología
                                        </mat-option>   
                                        <mat-option value="Obstetricia">
                                            Obstetricia
                                        </mat-option>                                                                              
                                    </mat-select>
                        </mat-form-field>                        
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">  

                        <mat-form-field fxFlex="50">
                            <input matInput type="number" placeholder="Año de Ingreso/egreso de la Universidad" formControlName="user_año_egreso_ingreso" >
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                                    <mat-select placeholder="Ciclo de estudios"
                                                formControlName="user_uni_ciclo">
                                        <mat-option value="1">
                                            I
                                        </mat-option>
                                        <mat-option value="2">
                                            II
                                        </mat-option>
                                        <mat-option value="3">
                                            III
                                        </mat-option>
                                        <mat-option value="4">
                                            IV
                                        </mat-option>   
                                        <mat-option value="5">
                                            V
                                        </mat-option>    
                                        <mat-option value="6">
                                            VI
                                        </mat-option>  
                                        <mat-option value="7">
                                            VII
                                        </mat-option>      
                                        <mat-option value="8">
                                            VIII
                                        </mat-option>   
                                        <mat-option value="9">
                                            IX
                                        </mat-option>   
                                        <mat-option value="10">
                                            X
                                        </mat-option>                                                                                                                                                                                                                                                                            
                                        <mat-option value="11">
                                            XI
                                        </mat-option>
                                        <mat-option value="12">
                                            XII
                                        </mat-option>
                                        <mat-option value="13">
                                            XIII
                                        </mat-option>         
                                        <mat-option value="14">
                                            XIV
                                        </mat-option>                                                                                                                                                       
                                    </mat-select>
                        </mat-form-field>   
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="50">
                                        <mat-select placeholder="¿Piensa hacer internado en el EsSalud o MINSA?"
                                                    formControlName="user_internado">
                                            <mat-option value="1">
                                                EsSalud
                                            </mat-option>
                                            <mat-option value="2">
                                                MINSA
                                            </mat-option>                                                                            
                                        </mat-select>
                            </mat-form-field>  

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="¿En que hospital donde quisiera hacer el internado?" formControlName="user_hosp_internado" >
                            </mat-form-field>   
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="¿Pertenece al quinto superior?" 
                                            formControlName="user_flg_qto_sup" >
                                    <mat-option value="1">
                                        SI
                                    </mat-option>
                                    <mat-option value="0">
                                        NO
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>      
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <button [disabled]="formPersonal.invalid" (click)="saveUserInformation()" style="margin-right: 2%; margin-left: 2%;" fxFlex="50" type="button" mat-raised-button color="accent" class="submit-button" >
                                    <mat-icon>save</mat-icon> Guardar información
                            </button>
                            <button (click)="navigateProfile()" style="margin-right: 2%; margin-left: 2%;" fxFlex="50" type="button" mat-raised-button color="primary" class="submit-button" >
                                    <mat-icon>reply</mat-icon> Volver al perfil
                            </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- / CONTENT -->        
    </div>