<div id="academy-course" class="page-layout simple left-sidenav">

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="academy-left-sidenav" mat-is-locked-open="gt-md">

            <div class="sidenav-content" fusePerfectScrollbar>

                <div class="steps">

                    <div class="step" *ngFor="let step of questions; let i = index; let last = last; let first = first" (click)="gotoStep(i)"
                        [ngClass]="{'current': currentStep === i, 'completed': currentStep > i, 'last': last, 'first': first}">
                        <div class="index">
                            <span>{{i + 1}}</span>
                        </div>
                        <div class="title">{{step.ques_name}}</div>
                    </div>

                </div>

            </div>

        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">

                <button mat-button class="mat-icon-button mr-16 sidenav-toggle" fuseMatSidenavToggler="academy-left-sidenav" fxHide.gt-md>
                    <mat-icon>menu</mat-icon>
                </button>

                <button mat-button class="mat-icon-button mr-16" [routerLink]="'/course'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div>
                    <h2>Tiempo restante: {{countdown.hours}} horas, {{countdown.minutes}} minutos, {{countdown.seconds}} segundos.</h2>
                </div>

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div id="course-content" class="content">

                    <div [formGroup]="questionForm">
                        <div formArrayName="questions">
                            <div *ngFor="let question of questionForm.controls.questions.controls; index as i">
                            <!-- <div *ngFor="let question of questionForm.controls; index as i"> -->
                                <div class="course-step" fusePerfectScrollbar *ngIf="currentStep === i" [@slideIn]="animationDirection">
                                    <div id="course-step-content" class="course-step-content">
                                        <div [formGroup]="question">
                                            <div>
                                                <mat-form-field fxFlex="200">
                                                    <textarea matInput placeholder="Pregunta" formControlName="ques_question" readonly></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <mat-radio-group fxFlex="200" [(value)]="ques_select" 
                                                                 formControlName="ques_select" class="example-radio-group">
                                                    <mat-radio-button style="margin-bottom: 2% !important;" class="example-radio-button" [value]="1">
                                                        <input type="text" formControlName="ques_res1" readonly style="border:0">
                                                    </mat-radio-button>
                                                    <mat-radio-button style="margin-bottom: 2% !important;" class="example-radio-button" [value]="2">
                                                        <input type="text" formControlName="ques_res2" readonly style="border:0">
                                                    </mat-radio-button>
                                                    <mat-radio-button style="margin-bottom: 2% !important;" class="example-radio-button" [value]="3">
                                                        <input type="text" formControlName="ques_res3" readonly style="border:0">
                                                    </mat-radio-button>
                                                    <mat-radio-button style="margin-bottom: 2% !important;" class="example-radio-button" [value]="4">
                                                        <input type="text" formControlName="ques_res4" readonly style="border:0">
                                                    </mat-radio-button>
                                                    <mat-radio-button style="margin-bottom: 2% !important;" class="example-radio-button" [value]="5">
                                                        <input type="text" formControlName="ques_res5" readonly style="border:0">
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>                                                                                
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
            </div>
            <!-- / CONTENT -->

            <div class="step-navigation">

                <button mat-fab class="previous mat-accent white-fg" (click)="gotoPreviousStep()" [disabled]="currentStep === 0" [fxHide]="currentStep === 0">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <button mat-fab class="next mat-accent white-fg" (click)="gotoNextStep()" [disabled]="currentStep === totalSteps - 1"
                    [fxHide]="currentStep === totalSteps - 1">
                    <mat-icon>chevron_right</mat-icon>
                </button>

                <button mat-fab class="done mat-green-600-bg" 
                (click)="finalizeExam()"
                [disabled]="currentStep !== totalSteps - 1" 
                [fxShow]="currentStep === totalSteps - 1">
                    <mat-icon>check</mat-icon>
                </button>

            </div>

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>