<div class="content p-24">
    <div>
        <div class="example-viewer-wrapper mat-white-bg mat-elevation-z2">
            <div class="example-viewer-body">
                <div class="example-header">
                    <div class="button-row" style="margin-top: 2%;"> 
                        <button (click)="selectExamType()" mat-raised-button color="accent">
                            <mat-icon>add_circle</mat-icon> Nuevo Examen
                        </button>
                    </div>
                </div>
                <div class="example-header">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Examen">
                    </mat-form-field>
                </div>
                <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>
                        
                            <ng-container matColumnDef="test_id">
                                <mat-header-cell fxFlex="64px" *matHeaderCellDef mat-sort-header> Código</mat-header-cell>
                                <mat-cell fxFlex="64px" *matCellDef="let row"> {{row.test_id}}</mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="cat_cor_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cat_cor_name}}</mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="test_num_ques">
                                <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> N° Preguntas</mat-header-cell>
                                <mat-cell fxFlex="100px" *matCellDef="let row"> {{row.test_num_ques}}</mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="test_time">
                                <mat-header-cell fxFlex="64px" *matHeaderCellDef mat-sort-header> Tiempo</mat-header-cell>
                                <mat-cell fxFlex="64px" *matCellDef="let row"> {{row.test_time}} min</mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="test_result">
                                <mat-header-cell fxFlex="64px" *matHeaderCellDef mat-sort-header> Resultado</mat-header-cell>
                                <mat-cell fxFlex="64px" *matCellDef="let row"> {{row.test_result}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="test_fec_start">
                                <mat-header-cell style="color: darkcyan" *matHeaderCellDef mat-sort-header> Fecha de inicio</mat-header-cell>
                                <mat-cell style="color: darkcyan" *matCellDef="let row"> {{row.test_fec_start | amLocale:'es' | amDateFormat:'DD/MM/YYYY hh:mm:ss A'}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="test_fec_finaliza">
                                <mat-header-cell style="color: darkblue;" *matHeaderCellDef mat-sort-header> Fecha de termino</mat-header-cell>
                                <mat-cell style="color: darkblue;" *matCellDef="let row"> {{row.test_fec_finaliza | amLocale:'es' | amDateFormat:'DD/MM/YYYY hh:mm:ss A'}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="test_status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-chip-list>
                                        <mat-chip *ngIf="row.test_status == 1" color="primary" selected="true">Iniciado</mat-chip>
                                        <mat-chip *ngIf="row.test_status == 2" color="accent" selected="true">Finalizado</mat-chip>
                                    </mat-chip-list>
                                </mat-cell>
                            </ng-container>   

                            <ng-container matColumnDef="options">
                                <mat-header-cell fxFlex="50px" *matHeaderCellDef mat-sort-header></mat-header-cell>
                                <mat-cell fxFlex="50px" *matCellDef="let row">
                                    <button mat-raised-button matTooltip="Detalle" (click)="testDetails(row.test_id)" mat-mini-fab color="accent">
                                        <mat-icon class="mat-24">zoom_in</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>