<div id="helper-classes" class="page-layout simple tabbed" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Exámenes</span>
            </div>
            <div class="h1 mt-16">Exámenes</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Lista de Exámenes">

                <fuse-exam-index-list></fuse-exam-index-list>

            </mat-tab>

            <mat-tab label="Estadísticas">

                <fuse-exam-index-kpi></fuse-exam-index-kpi>

            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>