<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="formPersonal" [formGroup]="formPersonal">

                <div class="h2 mb-24">Modificar la información de la clase</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Titulo de la clase" formControlName="class_tittle" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nombre del curso" [value]="class.cor_name" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Duración (min)" type="number" formControlName="class_time" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Número de comentarios" [value]="class.count" readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Descripción" formControlName="class_desc" required></textarea>
                    </mat-form-field>
                </div>
    
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Código embed del video" formControlName="class_video_embed" required></textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Usuario de registro" [value]="class.user_reg_name" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Estado del curso" [value]="est_registro" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Fecha de registro" value="{{fec_registro | amLocale:'es' | amDateFormat:'dddd, DD MMMM YYYY'}}"
                            readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <button (click)="onNoClick()" fxFlex="25" style="margin-top: 2%;" type="button" mat-raised-button color="accent" class="submit-button">
                        <mat-icon>close</mat-icon> Cerrar
                    </button>

                    <button [disabled]="formPersonal.invalid" (click)="saveUserInformation()" fxFlex="25" style="margin-top: 2%; margin-right: 2%; margin-left: 2%;"
                        type="button" mat-raised-button color="accent" class="submit-button">
                        <mat-icon>save</mat-icon> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>