<div id="profile" class="page-layout simple tabbed" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <div style="text-transform: capitalize;" class="name" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{cor_name}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button (click)="navigatePaymentCourse()" color="accent" aria-label="Follow">
                <mat-icon>check_circle</mat-icon> Comprar
            </button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Información">
                <fuse-course-details-info></fuse-course-details-info>
            </mat-tab>

            <mat-tab label="Clases">
                <fuse-course-details-class></fuse-course-details-class>
            </mat-tab>

            <mat-tab label="Alumnos">
                <fuse-course-details-people></fuse-course-details-people>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>