<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
            
            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="formPersonal"
                [formGroup]="formPersonal">

                <div class="h2 mb-24">Cambiar de rol</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nombres" formControlName="user_pri_nom" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Apellido Paterno" formControlName="user_ape_pat" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Apellido Materno" formControlName="user_ape_mat" readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Correo electrónico" formControlName="user_mail" readonly>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Rol del usuario" [(value)]="rol_id" 
                                    formControlName="rol_id" required>
                            <mat-option value=1>
                                Administrador
                            </mat-option>
                            <mat-option value=2>
                                Gestor
                            </mat-option>
                            <mat-option value=3>
                                Alumno
                            </mat-option>
                            <mat-option value=4>
                                Docente
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.rol_id.required">
                            El rol es requerido.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <button (click)="onNoClick()" fxFlex="25" style="margin-top: 2%;"
                    type="button" mat-raised-button color="accent" class="submit-button">
                        <mat-icon>close</mat-icon> Cerrar
                    </button>

                    <button [disabled]="formPersonal.invalid" (click)="saveUserInformation()" fxFlex="25" 
                            style="margin-top: 2%; margin-right: 2%; margin-left: 2%;"
                        type="button" mat-raised-button color="accent" class="submit-button">
                        <mat-icon>save</mat-icon> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>