<div class="content p-24">
    <div>
        <div class="example-viewer-wrapper mat-white-bg mat-elevation-z2">
            <div class="example-viewer-body">
                <!-- Widget 5 -->
                <div class="fuse-card auto-width">
                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Estadísticas de los examenes realizados</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <!-- <div  
                            (click)="widget5SelectedDay = 'yesterday'" 
                            [ngClass]="{'grey-300-bg': widget5SelectedDay === 'yesterday'}">
                                Desde mi primer examen
                            </div> -->
                                <mat-form-field fxFlex="250">
                                    <mat-select (change)="changeCategoryKpi($event.value)" placeholder="Categoría de examen" [value]="categoryKpi">
                                        <mat-option *ngFor="let option of categoryExam" 
                                                    [value]="option.value">{{ option.text }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                        </div>
                    </div>

                    <div class="position-relative h-368 pb-16">
                        <canvas baseChart [datasets]="widgets.widget5.datasets[widget5SelectedDay]" 
                                          [labels]="widgets.widget5.labels" 
                                          [colors]="widgets.widget5.colors"
                                          [options]="widgets.widget5.options" 
                                          [chartType]="widgets.widget5.chartType">
                        </canvas>
                    </div>

                </div>
                <!-- / Widget 5 -->
            </div>
        </div>
    </div>
</div>