<div id="academy-courses" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1>MIS CURSOS</h1>
            <h3>
                Aquí podras observar todos los cursos en los que encuentras matriculado.
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field class="course-search">

                    <input matInput placeholder="Buscar un curso" [(ngModel)]="searchTerm"
                           (input)="filterCoursesByTerm()">

                </mat-form-field>

                <mat-form-field class="category-selector">

                    <mat-select placeholder="Buscar por catergorías" [(ngModel)]="currentCategory"
                                (change)="filterCoursesByCategory()">
                        <mat-option [value]="'all'">
                            Todas
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.cat_cor_id">
                            {{ category.cat_cor_name }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

            </div>

            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center">

                <div class="course" *ngFor="let course of filteredCourses" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [ngClass]="course.category">

                    <div class="course-content" fxLayout="column">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center"
                             [ngStyle]="{'background' : course.cat_color}">

                            <div class="category" fxFlex>
                                {{course.cat_cor_name}}
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="length-icon s-20">access_time</mat-icon>
                                <div class="min">{{course.cor_time}} min</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex>
                            <div class="h1">{{course.cor_name}}</div>
                            <div class="updated">Publicado el {{course.fec_registro | amLocale:'es' | amDateFormat:'dddd, DD MMMM YYYY'}}</div>
                            <div class="updated">Docente encargado: {{course.user_full_name}}</div>
                        </div>

                        <div *ngIf="course.mat_state==1" class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="accent"
                                    (click)="navigateToClass(course.cor_id, course.cor_slug)">
                                Comenzar
                            </button>
                        </div>

                        <div *ngIf="course.mat_state==0" class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <mat-chip-list>
                                <mat-chip color="accent" selected="true">Por aprobar</mat-chip>
                            </mat-chip-list>
                        </div>

                        <div *ngIf="course.mat_state==2" class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <mat-chip-list>
                                <mat-chip color="primary" selected="true">No se aprobó la compra</mat-chip>
                            </mat-chip-list>
                        </div>

                    </div>

                </div>

                <div class="no-courses" *ngIf="filteredCourses.length === 0">
                    Aún no tienes cursos.
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
