<div id="forgot-password" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div style="color: black;" class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenido a Student Clinical Medic
        </div>

        <div style="color: black;" class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Sistema Aula Virtual.
        </div>

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">Recupera tu contraseña</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Correo electrónico" formControlName="email">
                    <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                        El correo electrónico es requerido
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        Por favor ingresa un correo electónico válido.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="recoverPassword()"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    Continuar
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">Regresar</a>
            </div>

        </div>
    </div>
</div>